.form-group(class!="<%= className%>")
	label.control-label <%= displayName%>
		.input-group
			input.form-control(name!="<%= elemName %>",type='text',value!="<%= displayValue %>",placeholder!="<%= placeholder %>")
			span.input-group-btn
				button(class!="btn btn-theme-inverse <%= elemName%>-pick",type='button')
					i.fa.fa-caret-down