.form-group(class!="<%= className%>")
	label.control-label <%= displayName%>
	select.selectpicker.form-control(parsley-error-container!="div.<%= elemName %>-error")
		<% if(placeholder){ %>
		option(value="") 
			| <%= placeholder %> 
		<% } %>
		<% for(var i=0;i<selections.length;i++){ var selection = selections[i]; %>
		option(value!="<%= selection.value%>") 
			| <%= selection.display %>
		<%  } %>
	div(class!="<%= elemName %>-error")