.form-group(class!="<%= className%>")
	label.control-label <%= displayName%>
	input.form-control(id!="<%= elemName %>",name!="<%= elemName %>",type="password",value!="<%= displayValue %>",placeholder!="<%= placeholder %>" )