.form-group(class!="<%= className%>")
	label.control-label <%= displayName%>
	.input-icon.right
		i.fa.fa-user.ico
		input.form-control(name!="<%= elemName %>",type="text",value!="<%= displayValue %>",placeholder!="<%= placeholder %>" )